.nav-title {
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #7b2e00;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #a9a7a4;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.link-bar {
  display: flex;
  padding: 30px;
}

.nav-link:hover {
  background-color: #000000;
}

.nav-right {
  float: right;
}
